#folder {
  height: 500vh;
  position: relative;
  padding: 0 80px;

  img {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 10px;
  }

  @media screen and (max-width: 992px) {
    padding: 0;
  }
}
