#myTitle1 {
  width: max-content;
  overflow: hidden;
  color: #555;
  transition: all .4s ease;
  position: relative;

  &:hover {
    color: white;
  }

  .inner {
    transition: transform 0.3s ease;
  }

  .inner div {
    text-align: center;
    animation: wave 1.5s ease-out forwards;
  }

  @keyframes wave {
    0% {
      opacity: 0;
      transform: translateY(calc(-1 * var(--size, 14px)));
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 992px) {
    margin-top: 0;
    padding: 0;
  }
}
